# -----------------------
# Python cache / compiled
# -----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.pickle

# -----------------------
# Virtual environments
# -----------------------
env/
venv/
ENV/
.venv/

# -----------------------
# Jupyter / IPython
# -----------------------
.ipynb_checkpoints/

# -----------------------
# System / OS files
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Logs
# -----------------------
*.log

# -----------------------
# Model & dataset files
# -----------------------
*.csv
*.xlsx
*.xls
*.json
*.pkl

# -----------------------
# VSCode
# -----------------------
.vscode/
